body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #111;
}

h1, h2, h3, h4, h5, p, span {
    margin: 0;
}

ul li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}